.flying_item {
  width: 200px;
  animation-duration: 1s;
  animation-name: flying-target;
  position: relative;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: block;
  overflow: hidden;
}
@keyframes flying-target {
  0% {
    left: -1000px;
  }

  100% {
    left: 500px;
    opacity: 100%;
  }
}

.flying_text {
  font-family: inspiration;
  font-size: xx-large;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  opacity: 0%;
  display: block;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.fkthis{
    display:none;
}
