.flying_item {
  background-color: black;
  height: 20px;
  width: 20px;
  left: 1000px;
  animation-duration: 1s;
  animation-name: flying-target;
  position:relative;
  border-radius: 50%;
  animation-timing-function: linear;
}
@keyframes flying-target{
    from {
        left: -1000px;
    }

    to {
        left: 1000px;
        display: none;
    }
}